Language: Cpp
# BasedOnStyle: LLVM
BasedOnStyle: WebKit
IndentWidth: 4
AlignAfterOpenBracket: BlockIndent
AllowShortEnumsOnASingleLine: false
AlignEscapedNewlines: Left
AlignTrailingComments: true
IndentPPDirectives: AfterHash
BreakBeforeBraces: Attach
NamespaceIndentation: None
QualifierAlignment: Right
IndentCaseLabels: false
PointerAlignment: Right

# BreakBeforeInheritanceComma: true
# BreakConstructorInitializers: BeforeComma